<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">


<mapper namespace="com.cycling.dao.UserDao">

    <resultMap id="userInfo" type="com.cycling.pojo.UserInfo">
        <id column="id" property="id" jdbcType="BIGINT"/>
        <result column="userid" property="userId" jdbcType="BIGINT"/>
        <result column="username" property="username" jdbcType="VARCHAR"/>
        <result column="sex" property="sex" jdbcType="INTEGER"/>
        <result column="height" property="height" jdbcType="FLOAT"/>
        <result column="weight" property="weight" jdbcType="FLOAT"/>
        <result column="birthday" property="birthday" jdbcType="DATE"/>
        <result column="address" property="address" jdbcType="VARCHAR"/>
        <result column="introduction" property="introduction" jdbcType="VARCHAR"/>
        <result column="phone" property="phone" jdbcType="VARCHAR"/>
    </resultMap>

    <resultMap id="ownInfo" type="com.cycling.pojo.dto.OwnInfo">
        <result column="avatar" property="avatar" jdbcType="VARCHAR"/>
        <result column="level" property="level" jdbcType="INTEGER"/>
        <result column="exp" property="exp" jdbcType="BIGINT"/>
        <result column="introduction" property="introduction" jdbcType="VARCHAR"/>
    </resultMap>

    <sql id="userInfo">
        id,userid,username,sex,height,weight,birthday,address,avatar,introduction
    </sql>

    <sql id="ownInfo">
        avatar,level,sex,exp,instroduction
    </sql>
    <sql id="BASE_COLUMN_INSERT">
        id,password,method,wx_openid,qq_openid,phone,create_time,last_login_time,salt
    </sql>
    <select id="selectByPhone" resultType="com.cycling.pojo.User">
        select
        <include refid="BASE_COLUMN_INSERT"/>
        from user
        where user.phone=#{phone}
    </select>


    <select id="selectUserInfoById" resultMap="userInfo">
        select
        <include refid="userInfo">
        </include>,(select phone from user where id = #{id,jdbcType=BIGINT}) as phone
        from user_info where userid =  #{id,jdbcType=BIGINT}
    </select>

    <select id="getMyInfo" resultMap="ownInfo">
        select
        <include refid="ownInfo">
        </include>
        from user_info where userid = #{id,jdbcType=BIGINT}
    </select>

    <select id="getRelatedCount" resultType="com.cycling.pojo.dto.RelatedCount">
        select
            (select count(id) from fans where userid = #{id,jdbcType=BIGINT}) as fansCount,
            (select count(id) from fans where fansid = #{id,jdbcType=BIGINT}) as focusCount,
            praisedCount,
            visitorCount from user_info where userid = #{id,jdbcType=BIGINT}
    </select>

    <update id="updateInfo">
        update user_info
            <set>
                <if test="username != null">
                    username = #{userInfo.username,jdbcType=VARCHAR},
                </if>
                <if test="sex != null">
                    sex = #{userInfo.sex,jdbcType=INTEGER},
                </if>
                <if test="height != null">
                    height = #{userInfo.height,jdbcType=FLOAT},
                </if>
                <if test="weight != null">
                    weight = #{userInfo.weight,jdbcType=FLOAT},
                </if>
                <if test="birthday != null">
                    birthday = #{userInfo.birthday,jdbcType=DATE},
                </if>
                <if test="address != null">
                    address = #{userInfo.address,jdbcType=VARCHAR},
                </if>
                <if test="avatar != null">
                    avatar = #{userInfo.avatar,jdbcType=VARCHAR},
                </if>
                <if test = "introduction != null">
                    introduction = #{userInfo.introduction,jdbcType=VARCHAR},
                </if>
                <if test="level != null">
                    level = #{userInfo.level,jdbcType=INTEGER},
                </if>
                <if test="exp != null">
                    exp  = #{userInfo.exp,jdbcType=BIGINT},
                </if>
            </set>
        where userid = #{id,jdbcType=INTEGER}
    </update>
</mapper>